body {        
        background-image: linear-gradient(
            190deg, 
            #6405ED 25%,
            #008B8B 60%,
            #6eadad 60%,
            #05abad 25%
        );
        margin: 0;
        min-height: 100vh;
        width: 100%;
        
    }

    main {
        section img { height: 300px; margin: 15px 0; }
        align-items: center;
        display: flex;
        height: 100vh;
        justify-content: center;

    }